/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# setting file
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
package-lock.json
.phpunit.result.cache
.env
.gitmessage