.feat-box{
    width:90%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    .create-btn{
        width:100px;
    }
}

.post{
    width:90%;
    height:80px;
    display: flex;
    justify-content: center;
    .thumbnail{
        width:80px;
        height:70px;
        cursor: pointer;
    }
    .post-title{
        text-decoration: none;
        color:black;
        &:hover{
            text-decoration: underline;
            color:gray;
        }
    }
}