@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.main-body{
    display: flex;
    justify-content: center;

    .page-intro{
        font-family: 'Kaushan Script', cursive;
        font-size : 40px;
        font-weight: 600;
    }
    .page-intro-content{
        font-family: 'Poor Story', cursive;
        font-size : 20px;
        font-weight: 400;
    }
}