@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.header{
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    width:80%;
    .logo{
        width:90px;
        height:90px;
    }   
    .title{
        margin:0px 0px 0px 20px;
        font-family: 'Kaushan Script', cursive;
        font-size: 40px;
    }
}
.nav-container{
    border-radius: 3px;
    font-family: 'Poor Story', cursive;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    .navbar{
        width:90%;
    }
}